/***************
 * Combo boxes *
 ***************/

combobox {
	padding: 0;
}

combobox arrow
{
	min-width:  14px;
	min-height: 14px;
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/*
 * Add a separator line to the arrow, to make it look like there's a separator
 * between the text of the combo box and the arrow.
 */
combobox button.combo cellview + arrow
{
	border-image-slice:  1 0 1 2;
	border-image-width:  1px 0 1px 2px;
	padding: 0px 0px 0px 4px;
	border-image-source: url('../../gtk-assets/separators/combobox-separator.png');
}

/* parent > child */
/* top right bottom left */
