/************* 
 * Expanders *
 *************/
 
expander title {

    padding: 2px 114px 3px 2px;
}

expander > title > arrow:dir(rtl) {

    margin: 0px 0px 0px 0px;
        padding: 2px 0px 3px 2px;
}

expander title:hover
{
	background-color: @hover_bg_color;
}

expander > title > arrow
{
	min-width: 14px;
	min-height: 14px;
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    padding: 2px;
}

expander > title > arrow:dir(rtl)
{
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

expander > title > arrow:checked
{
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

expander textview {
   	border: 2px solid;
	border-image-source: url('../../gtk-assets/borders/border-sunken.png');
	border-image-slice: 2;
    box-shadow: none;
}

/* parent > child */
/* top right bottom left */
