/*********************************
 * Level Bar * Тонкие индикаторы * 
 *********************************/

levelbar {
    padding: 2px; 
}

levelbar trough {
	background: @bar_bg_color;
  	border-color: @dark_border_color @light_border_color @light_border_color @dark_border_color;
	border-style: solid;
	border-width: 1px;

  /*
   * This is to remove the distracting and redundant black lines that would
   * otherwise appear in the center of our fine scale indicator marks.
   */
    color: transparent;
}

levelbar.vertical trough {
	min-width: 7px;
}

levelbar.horizontal trough {
	min-height: 7px;
}

levelbar block {
	margin: 0px;
	padding: 3px;
}

levelbar block.filled {
	background: @selected_bg_color;
	border-image-source: url('../../gtk-assets/borders/progress-border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
}

levelbar block.empty {
    background-color: @bar_bg_color; 
}

levelbar.vertical.discrete block {
  margin-top: 2px; 
}

levelbar.horizontal.discrete block {
  margin-right: 2px;
}

/* parent > child */
/* top right bottom left */ 
