/***************** 
 * Progress bars *
 *****************/

progressbar.horizontal trough,
.trough.horizontal {
	min-height: 19px;
}

progressbar.horizontal progress,
.progressbar.horizontal {
	min-height: 17px;
	margin: 0px 0px 0px 1px;
}

progressbar.vertical trough,
.trough.vertical {
	min-width: 20px;
}

progressbar.vertical progress,
.progressbar.vertical {
	min-width: 18px;
	margin: 1px 0px 0px 0px;
}

progressbar trough {
	background-color: @bar_bg_color;
	border-width: 1px;
	border-style: solid;
	border-color: @dark_bg_color @selected_fg_color @selected_fg_color @dark_bg_color;
}

progressbar > trough:not(.empty) > progress {
	background-color: @hover_bg_color;
	border-image-source: url('../../gtk-assets/borders/border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
}

.progressbar {
    color: @selected_fg_color;
	background-color: @selected_bg_color;
	border-image-source: url('../../gtk-assets/borders/border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
}

treeview.progressbar {
    color: @selected_fg_color;
	background-color: @selected_bg_color;
	border-image-source: url('../../gtk-assets/borders/progress-border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;

}

/* top right bottom left */
