/***************** 
 * Progress bars *
 *****************/

progressbar.horizontal trough,
progressbar.horizontal progress,
.trough.horizontal,
.progressbar.horizontal
{
	min-height: 20px;
}

progressbar.vertical trough,
progressbar.vertical progress,
.trough.vertical,
.progressbar.vertical
{
	min-width: 19px;
}

progressbar trough
{
	background-color: @bar_bg_color;
	border-width: 1px;
	border-style: solid;
	border-color: @dark_bg_color @selected_fg_color @selected_fg_color @dark_bg_color;
}

progressbar > trough:not(.empty) > progress,
levelbar > trough:not(.empty) > progress
{
	background-color: @hover_bg_color;
	border-image-source: url('../../gtk-assets/borders/progress-border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
}

.progressbar,
treeview.progressbar
{
    color: @selected_fg_color;
	background-color: @selected_bg_color;
	border-image-source: url('../../gtk-assets/borders/border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
}

.trough,
treeview.trough
{
    color: @fg_color;
	background-color: @bg_color;
	border-image-source: url('../../gtk-assets/borders/border-sunken.png');
	border-image-width: 2px 1px 1px 2px;
	border-image-slice: 2 1 1 2;
}
