/**************************
 * Scrolls and scales *
 **************************/

scrollbar > contents,
scale > contents,
scale > marks > mark > indicator /* Give scale indicators a 3D-ish look-and-feel */
{
	border-color: @dark_border_color @light_border_color @light_border_color @dark_border_color;
	border-style: solid;
	border-width: 1px;

/*
 * This is to remove the distracting and redundant black lines that would
 * otherwise appear in the center of our fine scale indicator marks.
 */
  color: transparent;
}

scrollbar > contents > trough,
scale > contents > trough
{
	background-color: @bar_bg_color;
}

scrollbar > contents > trough > slider,
scale > contents > trough > slider
{
	background-color: @bg_color;
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
}

scrollbar.horizontal > contents > trough > slider,
scale.horizontal > contents > trough > slider
{
	min-width: 30px;
	min-height: 14px;
}

scrollbar.vertical > contents > trough > slider,
scale.vertical > contents > trough > slider
{
	min-width: 14px;
	min-height: 30px;
}

scrollbar trough {
    border-style: solid;
    border-color: @border_color;
}

scrollbar > contents > trough > slider:hover,
scrollbar > contents > trough > slider:active,
scale > contents > trough > slider:hover,
scale > contents > trough > slider:active
{
	background-color: @hover_bg_color;
}

/* Scale widget-specific styling */

scale.horizontal > contents > trough
{
	padding: 0 15px 0 15px;
}

scale.vertical > contents > trough
{
	padding: 15px 0 15px 0;
}

/*
 * Add the tick mark to the scale slider, as an indicator of the scale's
 * current value.
 */
/* scrollbar slider, */
scale > contents > trough > slider,
scrollbar > contents > trough > slider
{
	background-position: center;
	background-repeat: no-repeat;
}

scale.horizontal > marks > mark > indicator
{
	min-height: 10px;
}

scale.vertical > marks > mark > indicator
{
	min-width: 10px;
}

scale.horizontal > contents > trough > slider,
scrollbar.horizontal > contents > trough > slider
{
	background-image: url('../../gtk-assets/miscellaneous/scale-tick-horizontal.png');
}

scale.vertical > contents > trough > slider,
scrollbar.vertical > contents > trough > slider
{
	background-image: url('../../gtk-assets/miscellaneous/scale-tick-vertical.png');
}

/* Scrollbar-specific styling */
scrollbar > contents > button
{
	min-height: 10px;
	min-width: 10px;
	padding: 2px;
}

scrollbar > contents > button:active
{
	background-color: @bar_bg_color;
}

scrollbar.horizontal > contents > button.up
{
	-gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
	padding: 1px 3px 2px 1px;
}

scrollbar.horizontal > contents > button.down
{
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
	padding: 1px 2px 2px 2px;
}

scrollbar.vertical > contents > button.up
{
	-gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
	padding: 1px 2px 3px 1px;
}

scrollbar.vertical > contents > button.down
{
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	padding: 2px 2px 2px 1px;
}

scrollbar.vertical {
	margin: -30px -3px -31px -3px;
	padding: 28px 0 29px 3px;
	border-left: 2px solid;
    border-image-source: url('../../gtk-assets/borders/border-left-vscrollbar.png');
    border-image-slice: 2;
    box-shadow: none;
    background: @bg_color;
    border-right: 1px solid @light_border_color;
}

expander:not(.header) scrolledwindow scrollbar.vertical {
   	margin: -3px -3px -31px -3px;
	padding: 1px 0 29px 3px;
} 

scrollbar.vertical:dir(rtl) {
	margin: -30px -3px -30px -3px;
	padding: 29px 3px 29px 0;
	border-right: 2px solid;
    border-image-source: url('../../gtk-assets/borders/border-right-vscrollbar.png');
}

expander:not(.header) scrolledwindow scrollbar.vertical:dir(rtl) {
   	margin: -2px -3px -32px -3px;
	padding: 0px 3px 29px 3px;
}

scrollbar.horizontal {
	margin: -3px -2px -3px -2px;
	padding: 3px 0px 0px 0px;
	border-top: 2px solid;
    border-image-source: url('../../gtk-assets/borders/border-top-hscrollbar.png');
    border-image-slice: 2;
    box-shadow: none;
    background: @bg_color;
    border-bottom: 1px solid @light_border_color;
}

scrollbar.horizontal:dir(rtl) {
	margin: -2px -2px -3px -2px;
	padding: 2px 0px 0px 0px;
}

/* Scrolledwindows */
scrolledwindow {
	border: 2px solid;
	border-image-source: url('../../gtk-assets/borders/border-sunken.png');
	border-image-slice: 2;
    box-shadow: none;
    margin: 1px;
}

/* Влияет на удвоение/утроение границ левой панели в Seahorse */
scrolledwindow viewport.frame list {
    border: none;
}

/* parent > child */
/* top right bottom left */
