/*******************
 * Scrolledwindows *
 *******************/

scrolledwindow {
	border: 2px solid;
	border-image-source: url('../../gtk-assets/borders/border-sunken.png');
	border-image-slice: 2;
    box-shadow: none;
    margin: 1px;
}

/* Влияет на удвоение/утроение границ левой панели в Seahorse */
scrolledwindow viewport.frame list {
    border: none;
}

/* top right bottom left */
