/**************
 * Separators *
 **************/

/*
 * A bog-standard separator widget, or almost any kind of separator you'll see.
 *
 * The separator widget is simply a 3D-esque border.  That's all it needs to be.
 */
separator
{
	border-style: solid;
	border-width: 1px;
	border-color: @border_color @selected_fg_color @selected_fg_color @border_color;
	margin: 1px;
}

paned > separator
{
	-gtk-icon-source: none;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	margin: 0px;
}

paned > separator:hover
{
	background-color: @hover_bg_color;
}

paned.horizontal > separator
{
	min-width: 5px;
	background-image: url('../../gtk-assets/separators/paned-separator-vertical.png');
}

paned.vertical > separator
{
	min-height: 5px;
	background-image: url('../../gtk-assets/separators/paned-separator-horizontal.png');
}

/* top right bottom left */
