/************
 * Spinners *
 ************/

@keyframes spin {
	to { -gtk-icon-transform: rotate(1turn); }
}

spinner
{
	opacity: 0;
}

spinner:checked
{
	animation: spin 1s steps(12) infinite;
	opacity: 1;
}

spinner:disabled
{
	opacity: .5;
}

/* parent > child */
/* top right bottom left */
