/***************************
 * GtkSwitch * Выключатель *
 ***************************/

switch {
	border-color: @dark_border_color @light_border_color @light_border_color @dark_border_color;
	border-style: solid;
	border-width: 1px;
	background-color: @bar_bg_color;

/*
 * This is to remove the distracting and redundant black lines that would
 * otherwise appear in the center of our fine scale indicator marks.
 */
  color: transparent;
}

/* Ползунок */
switch > slider
{
	border-image-source: url('../../gtk-assets/borders/border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
	background-color: @bg_color;
	margin: 0px;
    border-width: 1px;
	border-style: solid;
    min-width: 28px;
    min-height: 14px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px 10px;
}

switch > slider
{
    background-image: -gtk-icontheme("pan-end-symbolic");
}

switch > slider:checked
{
    background-image: -gtk-icontheme("pan-start-symbolic");
}

switch slider:hover {
	background-color: @hover_bg_color;
}

/* parent > child */
/* top right bottom left */
