/************************************
 * Window decorations and titlebars *
 ************************************/

/*
 * For windows that have no server-side or window manager decorations, use
 * the decorative border for menus.
 */
* > decoration
{
	border-image-width: 2px;
	border-image-slice: 2;
	padding: 2px;
}

/* Workaround to avoid double decorations around menus and tooltips */
.popup > decoration,
tooltip > decoration
{
	border: none;
	padding: 0;
}


/*
 * Title bars and window titles.
 */
.titlebar
{
	background-color: @bg_color;
	border-image-source: url('../../gtk-assets/borders/progress-border.png');
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
	margin: -2px -2px 0 -2px;
	padding: 6px;
}

.titlebar:backdrop
{
	background-color: @bg_color;
}

.titlebar:backdrop .title,
.titlebar:backdrop .subtitle
{
	color: @fg_color;
}

.titlebar .title
{
	font-weight: bold;
}
.titlebar .subtitle
{
	font-size: smaller;
}

/*
 * As much as you may dislike symbolic icons, non-symbolic icons usually look
 * awful as title button icons (minimize, close, ...), so add a special
 * exception for title buttons.
 */
.titlebar .titlebutton > image
{
	-gtk-icon-style: symbolic;
}

/* Header Bar * Верхняя гномо-панель */
headerbar.default-decoration {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 0px;
    font-size: 0.6em;
}

headerbar.default-decoration button.titlebutton {
    padding: 0px;
    min-height: 0px;
}

/* HiDPI */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */
    padding: 2px
}

.default-decoration .titlebutton {
    min-height: 6px; /* tweak these two props to reduce button size */
    min-width: 6px;
}

/* parent > child */
/* top right bottom left */
