/*****************************************************************
 * WNCK widgets:  Used for window lists, desktop selectors, etc. *
 *****************************************************************/

/* The WNCK window list */

/* We don't want flat buttons in the WNCK window list. */
wnck-tasklist > button.flat
{
	border-image-width: 1px 2px 2px 1px;
	border-image-slice: 1 2 2 1;
}

wnck-tasklist > button.flat:active,
wnck-tasklist > button.flat:checked
{
	border-image-width: 2px 1px 1px 2px;
	border-image-slice: 2 1 1 2;
}


/* The WNCK desktop selector / pager */

wnck-pager,
PanelApplet.wnck-applet .wnck-pager
{
	border-image-source: url('../../gtk-assets/common/entry-border.png');
	border-image-width: 2px;
	border-image-slice: 2;
	padding: 2px;
}

/* parent > child */
/* top right bottom left */
