/***********
 * Borders *
 ***********/

button,
button.flat:hover,
button.link:hover,
colorswatch#add-color-button,
calendar.header,
menu > arrow,
menubar,
toolbar,
.emoji-picker stack scrolledwindow + box,
notebook > stack:not(:only-child),
notebook > header > tabs > tab,
slider,
.titlebar:backdrop,
wnck-tasklist > button.flat,
MatePanelAppletFrameDBus > MatePanelAppletFrameDBus
{
	border-image-source: url('../gtk-assets/borders/border.png');
}


/* From widgets/buttons.css */
button:active,
button:checked,
button.flat:active,
button.flat:checked,
button.link:active,
button.link:checked,
colorswatch,
calendar,
statusbar > *,
statusbar button:not(:active):not(:checked),
wnck-tasklist > button.flat:active,
wnck-tasklist > button.flat:checked
{
	border-image-source: url('../gtk-assets/borders/border-sunken.png');
}

colorchooser box.popover,
menu,
popover,
.app-notification,
* > decoration,
#login_window,
#shutdown_dialog,
#restart_dialog
{
	border-image-source: url('../gtk-assets/borders/menu-border.png');
}

entry,
textview,
:not(stack) > list,
widget.entry:not(:selected)
{
	border-image-source: url('../gtk-assets/borders/entry-border.png');
}

/* parent > child */
/* top right bottom left */
